{% extends 'core/base.html' %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block content %}
<section class="h-full flex flex-col lg:flex-row justify-between items-center px-4 md:px-8 lg:px-16 py-12 md:py-24 gap-8">
    <!-- Text and Thumbnails Section -->
    <div class="flex flex-col justify-start items-start gap-6 md:gap-12 w-full lg:w-2/5">
        <h1 class="text-[#1d1d1d] text-3xl md:text-4xl font-semibold">{{ listing.title }}</h1>
        <h1 class="text-lg md:text-xl text-[#303030] font-medium">{{ listing.description }}</h1>

        <!-- Authentication Links -->
        {% if request.user == listing.created_by %}
            <span class="flex flex-wrap gap-4">
                <a 
                    class="bg-[#1d1d1d] px-6 py-2 text-white font-semibold text-center rounded-md 
                    border-2 border-[#1d1d1d] hover:bg-white hover:text-[#1d1d1d] transition-all" 
                    href="{% url 'listing:edit' listing.id %}">
                    Edit
                </a>
                <a 
                    class="bg-white px-6 py-2 text-[#1d1d1d] font-semibold text-center rounded-md 
                    border-2 border-[#1d1d1d] hover:bg-[#1d1d1d] hover:text-white transition-all" 
                    href="{% url 'core:signup' %}">
                    Delete
                </a>
            </span>    
        {% else %}
            <a 
                class="bg-[#1d1d1d] px-6 py-2 text-white font-semibold text-center rounded-md 
                border-2 border-[#1d1d1d] hover:bg-white hover:text-[#1d1d1d] transition-all" 
                href="#">
                Contact Agent
            </a>
        
        {% endif %}

        <!-- Thumbnail Images -->
        <span class="flex flex-wrap gap-4">
            <img class="rounded w-[150px] md:w-[200px]" src="{{ listing.thumbnail.url }}" alt="{{ listing.title }}">
            <img class="rounded w-[150px] md:w-[200px]" src="{{ listing.large.url }}" alt="{{ listing.title }}">
        </span>
    </div>

    <!-- Main Image Section -->
    <div class="relative w-full lg:w-3/5 h-[300px] md:h-[400px] lg:h-full overflow-hidden">
        <!-- Main Image with Rounded Left Corners -->
        <img 
            class="w-full h-full object-cover rounded-l-lg" 
            src="{{ listing.large.url }}" 
            alt="{{ listing.title }}" 
        />

        <!-- Tags Overlay -->
        <h2 
            class="absolute top-2 left-2 bg-[#1d1d1d] text-white px-3 py-1 rounded-lg shadow-md text-sm md:text-base">
            {{ listing.created_at }}
        </h2>
        <h2 
            class="absolute top-2 right-2 bg-[#1d1d1d] text-white px-3 py-1 rounded-lg shadow-md text-sm md:text-base">
            {{ listing.location }}
        </h2>
        <h2 
            class="absolute bottom-2 left-2 bg-[#1d1d1d] text-white px-3 py-1 rounded-lg shadow-md text-sm md:text-base">
            {{ listing.category }}
        </h2>
    </div>
</section>

{% if related_items %}
<section>
    <div class="bg-white">
        <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
            <h2 class="text-4xl text-center font-bold tracking-tight text-gray-900">Related Properties</h2>
        
            <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
                {% for property in related_items %}
                    <div class="group relative">
                        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                            <img src="{{ property.thumbnail.url }}" alt="{{ property.title }}" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                        </div>
                        <div class="mt-4 flex justify-between">
                            <div>
                                <h3 class="text-sm text-gray-700">
                                    <a href="{% url 'listing:detail' property.id %}">
                                    <span aria-hidden="true" class="absolute inset-0"></span>
                                    {{ property.title }}
                                    </a>
                                </h3>
                                <p class="mt-1 text-sm text-gray-500">{{ property.location }}</p>
                            </div>
                            <p class="text-sm font-medium text-gray-900">{{ property.category }}</p>
                        </div>
                    </div>
                {% endfor %}    
                <!-- More products... -->
            </div>
        </div>
    </div>

</section>

{% else %}
<section>
        
    <div class="bg-white">
        <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
            <h2 class="text-4xl text-center font-bold tracking-tight text-gray-900">Explore our Property listings</h2>
        
            <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
                {% for property in properties %}
                    <div class="group relative">
                        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                            <img src="{{ property.thumbnail.url }}" alt="{{ property.title }}" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                        </div>
                        <div class="mt-4 flex justify-between">
                            <div>
                                <h3 class="text-sm text-gray-700">
                                    <a href="{% url 'listing:detail' property.id %}">
                                    <span aria-hidden="true" class="absolute inset-0"></span>
                                    {{ property.title }}
                                    </a>
                                </h3>
                                <p class="mt-1 text-sm text-gray-500">{{ property.location }}</p>
                            </div>
                            <p class="text-sm font-medium text-gray-900">{{ property.category }}</p>
                        </div>
                    </div>
                {% endfor %}    
                <!-- More products... -->
            </div>
        </div>
    </div>

</section>
{% endif %}

{% endblock %}