{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% if account_type == 'seller' %}
<form method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}



    <div>
        {{ form.as_p }}
    </div>

    {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}

                {{ form.non_field_errors }} <!-- errors not connected to form field -->
            </div>
    {% endif %}

    <button>submit</button>

</form>
{% else %}
<section class="flex flex-col justify-center items-center h-[60vh] px-4">
<div class="text-center">
    
    <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Unauthorised View</h1>
    <p class="mt-6 text-base leading-7 text-gray-600">Your account does not have permission to view this page.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="{% url 'core:index' %}" class="rounded-md border-2 border-[#1d1d1d] bg-[#1d1d1d] px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-[#ffffff] hover:text-[#1d1d1d] hover:border-[#1d1d1d] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">Go back home</a>
      <a href="#" class="text-sm font-semibold text-gray-900">Contact support <span aria-hidden="true">&rarr;</span></a>
    </div>
  </div>
  </section>
{% endif %}
{% endblock %}