<!-- This extends the base template into this template -->
 <!-- This allows you to reuse a consistent component accross multiple templates, e.g nav and footer -->
 {% extends 'core/base.html' %}

 <!-- This allows you to pass in data to the title tag in your base template -->
 <!-- You can look at the core/templates/core/base.html -->
 {% block title %}
     Find an apartment
 {% endblock %}
 
 <!-- this block allows you to add content to the body tag of the extended base.html -->
 {% block content %}
 <!-- This form has all the actions to query the database with the data passed into it  -->
  <!-- It makes a get request to get properties that includes the keyword *input-data passed -->
 <form action="{% url 'listing:listings' %}" method="get">
     <input type="text" name="query" value="{{ query }}" placeholder="Find an apartment">
 
     <button>Search</button>
 </form>
 
 <p>Locations</p>
 
 <ul>
     <!-- This loops through a sequence of data with the available locations in the database and returns each location as a list item wrapped in an anchor tag, When a location is clicked it filters the data displayed to be related to the location  -->
     <!-- Make each list like a box that users can click to search for apartments based on the location selected -->
    {% for location in locations %}
     <li>
         <a href="{% url 'listing:listings' %}?query={{ query }}&location={{ location.id }}">{{ location }}</a>
     </li>
    {% endfor %} 
 </ul>
 
 <!-- This link resets the filter to all -->
 <a href="{% url 'listing:listings' %}">All</a>
 
 <!-- This returns all the properties available in the database-->
 {% for property in listings %}
 <!-- It only returns the image -->
 <div>
    <img src="{{property.thumbnail.url}}" alt="{{property.title}}">
    <h1>{{ property.title }}</h1>
 </div>
 {% endfor %}
 
 {% endblock %}