{% extends 'core/base.html' %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}
<h1>hello</h1>

{% for property in listings %}

<a href="{% url 'listing:detail' property.id %}">
    <div>
        <img class="w-[300px]" src="{{ property.thumbnail.url }}" alt="{{property.title}}">

        <div>
            <h1>{{ property.title }}</h1>
            <p>{{ property.description }}</p>
            <p>{{ property.created_at }}</p>
            <p>{{ property.category }}, {{ property.price }}, {{ property.location }}</p>
        </div>
    </div>
    
</a>
{% endfor %}

<div>
    <h2>Categories</h2>

    <div>
        {% for category in categories %}
        <h2>{{ category.name }}</h2>
        <p>
            {{ category.apartments.count }}
        </p>
        {% endfor %}
    </div>
</div>
{% endblock %}